[Active Settings]

## Whether or not the GearConfig executes.
# Setting type: Boolean
# Default value: false
ConfigEnabled = true

[Boombox Settings]

## Whether or not the boombox has infinite energy.
# Setting type: Boolean
# Default value: false
InfBoombox = true

## Whether or not the boombox continues to play when put away.
# Setting type: Boolean
# Default value: false
PocketBoombox = true

## Whether or not the boombox continues to play when thrown down.
# Setting type: Boolean
# Default value: true
GroundBoombox = true

[Flashlight Settings]

## Whether or not the flashlight has infinite energy.
# Setting type: Boolean
# Default value: false
InfFlashlight = false

## Whether or not the pro flashlight has infinite energy.
# Setting type: Boolean
# Default value: false
InfProFlashlight = false

[Key Settings]

## Whether or not the key is reusable for unlocking.
# Setting type: Boolean
# Default value: false
ReusableUnlockKeys = false

## Whether or not the key is reusable for locking.
# Setting type: Boolean
# Default value: false
ReusableLockKeys = false

## Whether or not the key can lock doors.
# Setting type: Boolean
# Default value: false
KeysCanLockDoors = false

[Spray Paint Settings]

## Whether or not the spray paint is infinite.
# Setting type: Boolean
# Default value: false
InfPaint = true

## Whether or not the spray paint needs to be shook.
# Setting type: Boolean
# Default value: true
RequireShaking = true

## Interval at which the paint decals apply.
# Setting type: Single
# Default value: 0.2
PaintSpeed = 0.2

## How many spray paint decals stay at once.
# Setting type: Int32
# Default value: 1000
MaxPaintDecals = 1000

SprayPaintVolume = 1

[Walkie Talkie Settings]

## Whether or not the walkie has infinite energy.
# Setting type: Boolean
# Default value: false
InfWalkie = false

