## Settings file was created by plugin Goku Bracken v1.3.0
## Plugin GUID: Vulf.GokuBracken

[Debugging]

Enable Debug Mode = false

[Sound]

## Controls whether or not to replace the bracken's kill sound with Goku voicelines
# Setting type: Boolean
# Default value: true
Use Goku Voicelines = true

## Controls whether or not to replace the bracken's agressive sound with the Ultra Instinct theme
# Setting type: Boolean
# Default value: true
Use UI Music = true

## Controls whether or not to play a sound on the bracken's death
# Setting type: Boolean
# Default value: true
Use Death Sound = true

Use Custom Sound Effects = true

